<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/dashboard">Agri UI</a>

    <div class="navbar-nav me-auto">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      <a class="nav-link" routerLink="/exploitations" routerLinkActive="active">Exploitations</a>
      <a class="nav-link" routerLink="/capteurs" routerLinkActive="active">Capteurs</a>
      <a class="nav-link" routerLink="/meteo" routerLinkActive="active">Météo</a>
      <!-- <a class="nav-link" routerLink="/alerts" routerLinkActive="active">Alertes</a> -->
    </div>

    <!-- <span class="navbar-text text-secondary">Gateway: http://localhost:8080</span> -->
  </div>
</nav>

<main class="container py-4">
  <router-outlet></router-outlet>
</main>

